//
   Created by bbenetti on 2017-07-16.

extends layout

block content
    div#header
        h1#title(onclick="display_pop_over(this,event)") Join or create a Group
        a(href="main_hub" style="margin: 10px; float: right;")
            p Main_hub

    div#main
        div.common#groups(style="right: 10px;")
            div.group_box(style="display: none;")
                h3.group_heading(contenteditable="true" ) XYZ_hidden_XYZ
                div.members_lst
                div.round_icon(style="float:right; margin-top: 10px; cursor: pointer;" onclick="display_group_pop_over(this.parentNode)")
                    img(src="/images/info-icon.png", style="width: 23px; height: 23px;")
            for group, i in groups
                div.group_box
                    h3.group_heading(contenteditable="true" ) #{group.name}
                    div.members_lst
                        for student in group.students
                            div.student(style="cursor:pointer"
                                        onclick="display_pop_over(this.textContent)")
                                p(style="display: inline-block;") #{student}
                    div.round_icon(style="float:right; margin-top: 10px; cursor: pointer;" onclick="display_group_pop_over(this.parentNode)")
                        img(src="/images/info-icon.png", style="width: 23px; height: 23px;")

            div.group_box(style="background-color: transparent; border-color: transparent; box-shadow: none; position: relative")
                img(src="/images/add_group.png" onclick="add_group()"
                style="position: absolute; left: 25%; right:25%; top:25%; bottom:25%; width:50%; height:50%;cursor:pointer;"
                ondragstart="event.preventDefault();")

